/**
 * Stylesheet zur Klasse Page-spiel-anmelden: Anmeldeseite von den einzelnen Spielen der App
 */
 header h1{
padding-top: 1em;
     text-align: center;
    line-height: 0em;;
 }




label{
    color: black;
    text-align: center;

}
select{
    font-size: 70%;

}
input{
    font-size: 50%;

}

main {
    text-align: center;
    font-size: 110%;

}

div {
    margin:0;
    padding:0;
}
h1 {
    font-size: 80%;
}
