/**
 * Stylesheet zur Klasse Page-spiel-anmelden: Anmeldeseite von den einzelnen Spielen der App
 */
label{
    color: black;
    text-align: center;

}
select{
    font-size: 70%;

}
input{
    font-size: 70%;

}

main {
    text-align: center;
    font-size: 150%;

}
div {
    margin:0;
    padding:0;
}
