/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart und Größe, Farben sowie das
 * Layout im Allgemeinen betreffend.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
 * ALLGEMEINES
 */
html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 14pt;
    line-height: 1.6;

    /* https://pixabay.com/photos/ship-boat-lake-sailing-boat-italy-952292/ */
    background-color: black;
    background-image: url("hintergrundBlack.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    --content-padding: 1rem;
}

@media (min-width: 40em) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 16pt;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 18pt;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

/*
 * KOPFBEREICH
 */

/* Allgemeine Darstellung der Menüzeile */
header {
    --text-color: white;
    --icon-color: rgb(0, 90, 115);

}
header nav {

    color: var(--text-color);
    border: 1px solid gainsboro;
}

header nav i {
    color: var(--icon-color);
}

header nav .page-name {
    font-weight: bold;
}



/* Link-Farben */

header nav a:visited {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.25s;
}

header nav a:hover {
    color: var(--icon-color);
}

header nav a:visited i {
    color: var(--icon-color);
}

header nav a:hover i {
    color: var(--text-color);
}

/* Kopfinhalt der Seite */
header .content {

    padding-top: 0px;
    padding-bottom: 15px;

    background: grey;
    border: 0px solid lightgrey;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
}

header .content h1,
header .content h2,
header .content h3,
header .content h4,
header .content h5,
header .content h6 {
    margin: 0;
}

header .content h1 {
    color: black;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    font-size: 120%;
    text-align: center;
}

header .content h2 {
    font-size: 90%;
    text-align: center;
}

header .content h3,
header .content h4,
header .content h5,
header .content h6 {
    font-size: 110%;
}

/* Anpassung an große Bildschirme */
@media (max-width: 40em) {
    .small-screen-hidden {
        display: none;
    }
}

@media (min-width: 40em) {
    .small-screen-only {
        display: none !important;
    }

    #logo-centered {
           display: flex;
           align-items: center;
           justify-content: center;
       }

    .logo {
        display: inline-block !important;
        height: 2em;
        height: 8em;

    }
}

/*
 * HAUPTBEREICH
 */
main {

    padding: var(--content-padding);
    background: rgba(240,240,240, 0.6);

    flex: 1;
}

main a,
main a:visited {
    color: crimson;
    text-decoration: underline;
    transition: color 0.25s;
}

main a:hover {
    color: red;
}

/*
* Style Vorgaben für das Hamburger Menü
*/

.hamburger-icon-container {
  color:red;
  height: 1.7em;
  width: 1.7em;
  position: relative;
  cursor: pointer;
  background: currentColor;
  border:10px solid currentColor;
  border-radius: 3px;
}

.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 1.7em;
  background: white;
  transition: all .2s ease;
}

.hamburger-icon {
  top: 0.75em
}

.hamburger-icon:before {
  top: -0.55em
}

.hamburger-icon:after {
  top: 0.55em
}

/* Darstellung wenn das Close-Icon angezeigt werden soll */

.hamburger-active .hamburger-icon-container {
  color:lime;
}

.hamburger-active .hamburger-icon {
  background: transparent;
  transform: rotate(-135deg)
}

.hamburger-active .hamburger-icon:before,
.hamburger-active .hamburger-icon:after {
  top: 0
}

.hamburger-active .hamburger-icon:before {
  transform: rotate(90deg)
}

/*Footer Information*/
footer{
    color: white;
    font-size: 70%;
    line-height: 50%;
    text-align: center;
}
