/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
 * ALLGEMEINES
 */
html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 14pt;
    line-height: 1.6;

    /* https://pixabay.com/photos/ship-boat-lake-sailing-boat-italy-952292/ */
    background-color: black;
    background-image: url("hintergrundBlack.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    --content-padding: 1rem;
}

@media (min-width: 40em) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 16pt;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 18pt;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}



/* Allgemeine Darstellung der Menüzeile */
header {
    --text-color: white;
    --icon-color: rgb(0, 90, 115);
}

header nav {
    padding-left: 1em;
    color: var(--text-color);
    padding-top: 1em;
    padding-right: 2em;

}

header nav i {
    color: var(--icon-color);

}

header nav .page-name {
    font-weight: bold;
}

/* Link-Farben */

header nav a:visited {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.25s;
}

header nav a:hover {
    color: var(--icon-color);
}

header nav a:visited i {
    color: var(--icon-color);
}

header nav a:hover i {
    color: var(--text-color);
}

header .content {

    padding-top: 0px;
    padding-bottom: 15px;

    background: grey;
    border: 0px solid lightgrey;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
}

header .content h1,
header .content h2,{
   margin: 0;
}

header .content h1 {
    color: black;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    font-size: 120%;
    text-align: center;
}

header .content h2 {
    font-size: 90%;
    text-align: center;
}
/* Anpassung an große Bildschirme */
@media (max-width: 40em) {
    .small-screen-hidden {
        display: none;
    }
}

@media (min-width: 40em) {
    .small-screen-only {
        display: none !important;
    }

    #logo-centered {
           display: flex;
           align-items: center;
           justify-content: center;
       }

    .logo {
        display: inline-block !important;
        height: 20em;
        height: 8em;
    }
}
/*HAUPTBEREICH*/
main {

    padding: var(--content-padding);
    background: rgba(240,240,240, 0.6);
    flex: 1;
}

a, a:visited{
     color: white;
     text-decoration: none;
}
/*Footer Information*/
footer{
    color: white;
    font-size: 70%;
    line-height: 50%;
    text-align: center;
}
