/**
 * Stylesheet zur Klasse Page-start: Startseite der App
 */

section {
    display: flex;
}
section main {
    display: flex;
    image-orientation: center;
}

section img {
    display: inline-block;
    max-width: calc(50%-2em);
    min-height:380px ;
    min-width: 285px;
}
height="380" width="285" /
