/**
 * Stylesheet zur Klasse Page-start: Startseite der App
 */

section {
    display: flex;
}
section main {
    display: flex;
}
section img {
    display: inline-block;
    max-width: calc(50%-2em);
}
}
dl {
    font-size: 120%;
    text-align: center;
    font-weight: bold: ;
}
